<div class="content-side">
    <div class="header">
        <div class="title d-flex justify-content-between align-items-center">
            <h2 class="title-page">Messages</h2>
            <button (click)="btnNotificationt()" class="btn-notification">
                <i class="fa-regular fa-bell"></i>
            </button>
            <ul class="notifications" *ngIf="toggleNotificationt">
                <h2 class="h5">Notifications</h2>
                <hr>
                <li class="d-flex align-items-end">
                    <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                    <div class="details">
                        <h3>james Aldroio</h3>
                        <div class="btn-notifications">
                            <button class="btn-accept">Confirm</button>
                            <button class="btn btn-outline-danger ms-2">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="search">
            <div class="form-search">
                <input type="text" class="" placeholder="Search...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <button (click)="selectedChat()" class="btn-add">
                <a routerLink="add" ><i routerLinkActive="active" class="fa-solid fa-user-plus"></i></a>
            </button>
        </div>
    </div>
    <div class="list-chats">
        <ul>
            <li routerLinkActive="active-chat">
                <a (click)="selectedChat()" [routerLink]="['/messages',1]" >
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="block">
                        <div class="bx-image">
                            <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4>Mostafa Maged</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>