<div class="content-side">
    <div class="header">
        <div class="title d-flex justify-content-between align-items-center">
            <h2 class="title-page">Messages</h2>
            <button (click)="selected()" (click)="readNotifications()" routerLink="notificationts"
                routerLinkActive="active-notification" class="btn-notification">
                <i class="fa-regular fa-bell"></i>
                <span *ngIf="notification"></span>
            </button>
        </div>
        <div class="search">
            <div class="form-search">
                <input type="text" class="" placeholder="Search...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <button (click)="selected()" class="btn-add">
                <a routerLink="add"><i routerLinkActive="active" class="fa-solid fa-user-plus"></i></a>
            </button>
        </div>
    </div>
    <div class="list-chats">
        <ul>
            <li *ngFor="let friend of friendsList"  routerLinkActive="active-chat">
                <a (click)="selected()" [routerLink]="['/messages',friend._id]">
                    <div class="block">
                        <div class="bx-image">
                            <img [src]="friend.profile_Picture||'https://scontent.fcai20-6.fna.fbcdn.net/v/t1.30497-1/453178253_471506465671661_2781666950760530985_n.png?stp=dst-png_p100x100&_nc_cat=1&ccb=1-7&_nc_sid=136b72&_nc_ohc=Cz0lTg2_DCEQ7kNvgE4_Nfy&_nc_ht=scontent.fcai20-6.fna&oh=00_AYAtY9gq145PwqVLT3y-LzCcFSvhrz1cr6amxwmLKHRZag&oe=66E2037A'"
                                alt="">
                            <span *ngIf="friend.status == 'online'" class="user-status"></span>
                        </div>
                        <div class="chat-details">
                            <div class="head">
                                <h4 class="text-capitalize">{{friend.userName}}</h4>
                                <p>02.30Pm</p>
                            </div>
                            <div class="messages">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <b>5</b>
                            </div>
                        </div>
                    </div>
                </a>
            </li>




        </ul>
    </div>
</div>