<div class="contacts p-4">
    <div class="d-flex align-items-center">
        <button (click)="returnBack()" class="btn-back mb-2"><i class="fa-solid fa-arrow-left"></i></button>
        <h2 class="h5 mb-2">Add Friend</h2>
    </div>

    <p class="text-muted">You can add friends with their userName.</p>
    <div class="input-from position-relative">
        <input type="text" [(ngModel)]="sendRequest" class="form-control"
            placeholder="You can add friends with their userName.">
        <button (click)="sendAddRequest()" class="btn-add">Send Friends Request</button>
    </div>
    <p class="text-danger">{{messageError}}</p>
</div>

<div [ngClass]="{'show': showNotification}" id="toast"><div id="img"><i class="fa-solid fa-wave-square"></i></div><div id="desc">Sent</div></div>

