/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:wght@400;500;700&display=swap');

// start: Globals

:root {
  --main-color: #415FF3;
  --white: #fff;
}
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

// end: Globals

// start: fonts
.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

// end: fonts

.btn-main {
  background-color: #415FF3;
  color: #fff;

  &:hover {
    border: 1px solid #415FF3;
    color: #415FF3;
  }
}